.home-page-container {
  /* background: url("../../../public/assets/Ellipse\ 2.svg") center center/cover no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #F9F8F2; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ellipse {
  position: fixed;
  aspect-ratio: 1 / 1;
  bottom: 25.7vh;
  /* left: 0; */
  width: 130vw;
  height: 130vw;
  background: linear-gradient(#246AD4, #5379F6);
  border-radius: 50%;
  z-index: -1;
}
.home-page-heading {
  position: absolute;
  top: 8.9844%;
  font-size: 4.514vw;
  font-weight: 700;
  color: #fcfcfc;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.home-page-description {
  position: absolute;
  top: 19.90%;
  font-family: sans-serif;
  font-size: 1.74vw;
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 40px; */
  max-width: 744px; /* Limit the width for better readability */
  line-height: 1.5; /* Improve line spacing for readability */
  padding: 0 20px; /* Add some padding for better appearance */
  /* margin-top: 10px; Add some space above the description */
  font-weight: 100; /* Adjust font weight for better readability */
}
.home-page-card-group {
  position: absolute;
  top: 37.35%;
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.home-page-card {
  width: 24.81vh;
  height: 33vh;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 14px rgba(24, 24, 24, 0.418);
  outline: rgb(156, 188, 255) solid 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 25px;
}

/* .home-page-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  background-color: rgb(255, 194, 179);
  color: white;
  transition: background-color 0.6s ease-in-out;
} */

.home-page-avatar {
  width: 90%;
  height: auto;
  margin-bottom: 12px;
}

.home-page-card-label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.home-page-card-description {
  font-size: 0.8rem;
  color: #000000;
  text-align: center;
  margin: 10px 0 10px 0;
}
.home-page-button {
  min-width: 100%;
  min-height: 40px;
  background-color: #4875ee;
  color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
